@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .custom-add-button {
    font-size: 14px; /* hoặc bất kỳ kích thước nào bạn muốn */
    padding: 4px 8px; /* hoặc bất kỳ padding nào bạn muốn */
  }
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}